.mas-vendido ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}
.mas-vendido ol li {
  width: 23%;
  min-width: 200px;
  max-width: 250px;
  padding: 10px;
}

.mas-vendido ol li .mas-vendido-div {
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  transition: all 0.5s;
}
.mas-vendido ol li .mas-vendido-div:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px green;
  border: 1px solid green;
  color: rgb(0, 0, 255);
}

.mas-vendido ol li div img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mas-vendido-etiqueta-img {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
