.mas-vendido {
  background-color: rgb(188, 69, 39);
  padding: 0px 0px 30px 0px;
}
.mas-vendido-titulo {
  color: white;
}
.mas-vendido-lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mas-vendido-item {
  width: 200px;
  min-width: 200px;
  height: 300px;
  position: relative;
  z-index: 10;

  background-color: white;

  margin: 40px 15px 5px;
  border-radius: 10px;
  position: relative;

  transition: all 0.2s;
}

.mas-vendido-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px black;
}

.mas-vendido-item:hover .mas-vendido-valor {
  opacity: 1;
}
.mas-vendido-item:hover .mas-vendido-valor img {
  pointer-events: all;
}

.mas-vendido-item:hover .mas-vendido-div-img img {
  margin-top: -30px;
}

/* ----------------------------------*/

.mas-vendido-div-img img {
  width: 100%;
  padding: 5px;
  margin-top: 0px;
  border-radius: 20px;
  transition: all 0.2s;
}

/* ----------------------------------*/

.mas-vendido-div-text {
  margin: 10px;
  pointer-events: none;
}
.mas-vendido-div-text h3 {
  height: 65px;
  overflow: hidden;
}

.mas-vendido-valor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 0 0;
  opacity: 0;
  color: blue;
  transition: all 0.2s;
}

.mas-vendido-valor img {
  width: 30px;
  height: 30px;
}

/* .mas-vendido-div-text .price {
  color: blue;
  opacity: 0;
  margin-top: 10px;
  transition: all 0.2s;
} */
