.category {
  background-color: white;
}

.categorias-list {
  width: 80%;
  margin: 15px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.categorias-list img {
  width: 150px;
  padding: 5px 15px;
  transition: all 0.2s;
}
.categorias-list .c {
  width: 130px;
}
.categorias-list .d {
  width: 130px;
}

/*--------------------*/

.categorias-list img:hover {
  transform: scale(1.2);
}
