.header {
  background: rgb(0, 0, 73);
  color: white;
}

.navbar {
  width: 95%;
  margin: 0 auto;
  padding: 15px 20px 5px;
}

.logo-nav {
  width: 70px;
  height: 60px;
  margin-right: 15px;
}

.navbar1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

.menu li {
  padding: 10px 15px;
  text-transform: uppercase;
}
.search {
  width: 50%;
  height: 45px;
  border-radius: 5px;
  padding: 0 10px;
  border: none;
  outline: none;
  transition: 0.2s;
}

.search:focus {
  border: 1px solid darkblue;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.busqueda-interna {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.busqueda-interna li a {
  text-decoration: none;
  color: white;
}

.busqueda-interna li {
  padding: 10px 30px 3px;
}
